extends layout

block content
	div(class='container', ng-controller='battleshipCtrl')
		h1 Attack!
		p Enter the coordinates to fire at the enemy!
		label X-Coordinate
			input(class='form-control', id='fireX')
		label Y-Coordinate
			input(class='form-control', id='fireY')
		button(class='btn btn-primary', ng-click='fire()') Fire!

		div(id='yourResult')
		div(id='cpuResult')
		p
		p
		p
		button(class='btn btn-primary', ng-click='quit()') Quit