extends layout

block content
	div(class='container', ng-controller='battleshipCtrl')
		h1 Attack!
		p Enter the coordinates to fire at the enemy!
		form(class='form-inline', ng-submit='fire()')
				label X-Coordinate: 
					input(type='number', min="0", max="4", class='form-control', id='fireX' required)
				&nbsp;&nbsp;&nbsp;
				label Y-Coordinate: 
					input(type='number', min="0", max="4", class='form-control', id='fireY' required)
				&nbsp;&nbsp;
				input(type='submit', class="btn btn-info", value='Fire!')

		div(id='yourResult')
		div(id='cpuResult')
		p
		p
		p
		button(class='btn btn-primary', ng-click='quit()') Quit