extends layout

block content
	div(class='container', ng-controller='battleshipCtrl')
		h1 Welcome to #{title}
		h3 Enter your name to get started!
		form(class='form-inline', ng-submit='setupBoard()')
			div(class='form-group')
				input(class='form-control', ng-model='name' required)
			input(type='submit', class="btn btn-info", value='Start')